body {
	height:100%;
	max-width:800px;
	margin:auto;
	background-color: rgba(100, 100, 100, 0.1);
	padding-top:30px;
	padding-left:50px;
    padding-right:50px;
	

}

h1 {
	color: black;
	text-align:center;
	font-size: 4em;
	margin:auto;
	font-family: 'Anton', sans-serif;

}

img#tree {
	width:800px;
	height:200px;
	display:block;
}

html {
	background-color: rgb(225, 225, 200);
	height:1000;
}

h3 {
	text-align: center;
}

ul.nav {
	display:inline;
	list-style-type:none;
	font-size:1.5em;
	width:1000px;
	
}

ul li {
	float:left;
	margin:15px;
	padding:10px;
}

ul li:hover {
	background-color:white;
	text-decoration:none;
		cursor:pointer;

}

ul li a:visited {
	color: black;
	text-decoration:none;
	background-color:white;
}

ul li a {
	text-decoration:none;
	color:black;
}

footer {
	text-align:center-left;
	position:relative;
	margin-bottom:20px;


}

#title {
	width:600px;
	margin:auto;
	padding-bottom:40px;
}

h5 {
	padding-left:90px;
	margin-bottom:20px;
	margin:auto;
}

main {
	margin-top:35px;
	border-top:rgb(0,0,115) 3px solid;
	margin-bottom:20px;

	width:100%;
}





#btns ul.nav li{
 list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 0;
    padding: 3px 10px;
    color: black;
    cursor: pointer;
}

#btns ul.nav li:hover {
	background-color:white;
}

#btns ul li.active {
	background-color:white;
	
}

#btns div {
    display:none;
    text-align:center;
    padding-top: 30px;
    font-size:1.5em;
}

#btns div ul li a.smallLi {
	font-size:0.8em;
	list-style-type:circle;
	background-color: none;
	text-decoration:underline;
	
	
}

#btns div ul li a.smallLi:visited {
	color:purple;
	}
	
#btns div ul {
	text-align:center;
	padding-left: 200px;
	padding-bottom:100px;
	display:block;
	
}






